<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postman Clone</title>
</head>
<body>
    <h1>index page</h1>
    {% if user.is_authenticated %}
    <h2>your name is: {{ user.username }}</h2>
    <p><a href="/accounts/logout">Log out</a></p>
    {% else %}
    <h2>you're not logged in buddo</h2>
    <p><a href="/accounts/login">Log in here!</a></p>
    <p><a href="{% url 'register' %}">Or register here!</a></p>
    {% endif %}


<form action = http://127.0.0.1:8000/submit  method="post">
    {% csrf_token %}
    base url:<input type="text" name="baseURL" id="baseURL"><br>
    headers:<br>
    <input type="text" name="headersa1" id="headersa1">
    <input type="text" name="headersb1" id="headersb1"><br>
    <input type="text" name="headersa2" id="headersa2">
    <input type="text" name="headersb2" id="headersb2"><br>
    <input type="text" name="headersa3" id="headersa3">
    <input type="text" name="headersb3" id="headersb3"><br>
    HTTP Method:
    <select name="httpMethod">
        <option value="GET">GET</option>
        <option value="POST">POSTbutdon'tusethisrightnow</option>
    </select><br>
    <input type="submit" value="Submit" name="submitButton">
    {% if user.is_authenticated %}
        Name for API call:
        <input type="text" name="api_call_name" id="api_call_name">
        <input type="submit" value="Save Call" name="saveButton">
    {% endif %}
</form>
<br><br>

{% if user.is_authenticated %}
    {% for call in saved_calls  %}
      <p>{{ call }}</p>
    {% endfor %}
{% endif %}

<!--<form action = http://127.0.0.1:8000/postman/submit  method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>-->
</body>
</html>