{% extends 'PostmanClone/base.html' %}

{% block content %}
<script type="text/javascript">
$(document).ready(function () {

    $.ajaxSetup({data: {
    csrfmiddlewaretoken: '{{ csrf_token }}'
    }});

   $( ".collection" ).click(function() {
        $.post('{% url 'changeCollectionAjax' %}', {'data': $(this).html()})
   });

    {% if session_collection %}
        $(".active").removeClass("active");
        $('[href*="#{{ session_collection|cut:' '|cut:'!'  }}"]').addClass("active");
        $('[href*="#{{ session_collection|cut:' '|cut:'!'  }}"]').parent().addClass("active");
    {% endif %}

});
</script>

{% if baseURL %}
{% if call_made %}
HTTP Method: {{ httpMethod }}<br>
API response: {{ apiResponse }}<br><br>
Python Code: <br> {{pythonCode|linebreaks}}<br><br>
{% if user.is_authenticated %}
<form action="{% url 'submit' %}" method="POST">
    {% csrf_token %}
    Name for API call:
    <input type="text" name="api_call_name" id="api_call_name">
    <input type="hidden" value="{{ baseURL }}" name="baseURL" id="baseURLSave">
    <input type="hidden" value="{{ httpMethod }}" name="httpMethod" id="httpMethod">
    <input type="hidden" value="{{ headers }}" name="headers" id="headers">
    <input type="submit" value="Save Call" name="saveButton">
    <br><br>
</form>
{% endif %}
{% endif %}
    {% endif %}

{% if user.is_authenticated %}
<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a href="#NewCollection" class="nav-link active" role="tab" data-toggle="tab">New Collection</a>
    </li>
    {% for collection in user_dict  %}
    <li class="nav-item" >
        <a href="#{{ collection|cut:' '|cut:'!' }}" class="nav-link collection" role="tab" data-toggle="tab">{{ collection }}</a>
    </li>
    {% endfor %}
</ul>
<!--TODO add the calls to the collection in the view!  then you can use a for loop in the template to display the appropriate calls under the collection -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in show active" id="NewCollection">
        <form action="{% url 'changeCollection' %}" method="post">
            {% csrf_token %}
            <input type="text" name="newCollectionName" id="newCollectionName">
            <input type="submit" name="collection" value="Create Collection">
        </form>
    </div>
    {% for key, collection in user_dict.items  %}
    <div role="tabpanel" class="tab-pane fade" id="{{ key|cut:' '|cut:'!' }}">
        <form action="{% url 'changeCollection' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="delete collection" value="{{ key }}">Delete Collection</button>
        </form>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {% for call in collection %}
            <br> <button type="submit" name="call" value="{{ call.id }}">{{ call }}</button>
            <button type="submit" name="delete call" value="{{ call.id }}">Delete Call</button>
            {% endfor %}
            </form>
    </div>
    {% endfor %}
</div>
{% endif %}

<form action="{% url 'index' %}"  method="POST">
    {% csrf_token %}
    <br>
    Base URL:<br>
    <input type="text" name="baseURL" id="baseURLSubmit" value="{{ baseURL }}"><br><br>
    Headers:<br>
    <input type="text" name="headersa1" id="headersa1" value="{{ headersa1 }}">
    <input type="text" name="headersb1" id="headersb1" value="{{ headersb1 }}"><br>
    <input type="text" name="headersa2" id="headersa2" value="{{ headersa2 }}">
    <input type="text" name="headersb2" id="headersb2" value="{{ headersb2 }}"><br>
    <input type="text" name="headersa3" id="headersa3" value="{{ headersa3 }}">
    <input type="text" name="headersb3" id="headersb3" value="{{ headersb3 }}"><br><br>
    HTTP Method:<br>
    <select name="httpMethod" value="POST">
        <option value="GET">GET</option>
        <option value="POST">POSTbutdon'tusethisrightnow</option>
    </select><br><br>
    <input type="submit" value="Submit" name="submitButton">
</form>
<br><br>

<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}